# Entorno virtual
venv/
ENV/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de base de datos
*.sqlite3
db.sqlite3

# Archivos de log
*.log

# Archivos de entorno
.env

# Archivos y carpetas de medios (subidas de usuarios)
media/

# Node.js
node_modules/
build/
dist/

# Archivos de configuración específicos del editor
.vscode/

# Archivos de salida de PDF u otros temporales
*.pdf